
/**
* Mixins
*/

/**
* Mixin - Font-family
*/
redhat = 'Red Hat Display', sans-serif


/**
* Mixin - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700 


/**
* Mixin - Viewport
*/
viewport = 1132px


/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xxs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px


/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container
  min-width: 0
  max-width: viewport
  margin 0 auto
  width: auto


/*
* Base
* Estilo base do elementos do Html
*/
body
  font-family: redhat

a 
  color: unquote($color2_bg)

  &:hover
    @extend a


/*
* Components
* Componentes que se adaptam ao contexto
*/

/*
* Component - Menssagens
*/
.messages
  > li
    display block
    padding 10px 20px
    margin-bottom 20px
    font-size 14px
  .success-msg
    border 1px solid #2baf60
    background #c8efc0
    color #1d904b
  .error-msg
    border 1px solid #d92100
    background #ffdcdc
    color #d92100
  .notice-msg
    border 1px solid #f7be07
    background #f9f0d5
    color #f7be07

/*
* State
* Estado global do Layout
*/

.header, .main-container, .footer
  @extend .container


/*
* Theme
* Customização de components ou layout, hacks !importants e etc
*/

/** Header */
.header-container
  @media(max-width screen-md)
    background #fdfdfd
    margin-bottom 0!important

  .header
    display flex
    justify-content space-between
    align-items center
    @media(max-width screen-md)
      padding 10px 0 10px 15px
      margin-bottom 0!important
      justify-content flex-end

  aside.frete-gratis__topo
    @extend .container
    display flex
    align-items center
    font-size 13px
    letter-spacing .54px
    color #ffffff
    background unquote($color1_bg)
    box-shadow -980px 0 0 unquote($color1_bg), 980px 0 0 unquote($color1_bg)
    padding 7px 0 7px 10px
    @media(max-width screen-md)
      display none

    p:first-child
      margin-right 45px

  h1.logo
    margin 0
    @media(max-width screen-md)
      position absolute
      left 15px

  .loginout
    display flex
    justify-content center
    align-items center
    text-align center
    margin 0 .5rem

    svg.ico
      margin-right 7px

    .login-text
      font-size 15px
      line-height 1.2em
      color #333
      @media(max-width screen-xs)
        font-size 12px

      a
        font-weight semibold

        &:hover
          color unquote($color2_bg)

  .search.busca_topo
    flex: 0 1 36%;
    margin-left 0
    @media(max-width screen-md)
      position absolute
      top 64px
      left 0
      width calc(100vw - 8px)
    
    @media(max-width screen-xs)
      width 100vw

    .input-box
      @media(max-width screen-md)
        display block!important

    input.search__input
      height 58px
      line-height 1em
      padding 0 19px!important
      border-radius 0!important
      box-shadow none
      background transparent
      border-top 1px solid rgba(0, 0, 0, .1)
      border-right 0
      border-bottom 1px solid rgba(0, 0, 0, .1)
      border-left 1px solid rgba(0, 0, 0, .1)
      @media(max-width screen-md)
        height 35px
        background #dadada
        border none

      &::placeholder
        font-size 15px
        line-height 1em
        font-weight medium
        letter-spacing .5px
        color #cccccc
        @media(max-width screen-md)
          color #FFFFFF
      
    button.search__button
      height 58px
      line-height 1em
      padding 18px 20px
      border-radius 0!important
      border-top 1px solid rgba(0, 0, 0, .1)
      border-right 1px solid rgba(0, 0, 0, .1)
      border-bottom 1px solid rgba(0, 0, 0, .1)
      border-left 0
      background transparent
      box-shadow none
      @media(max-width screen-md)
        height 35px
        padding 8px
        border none
        background #dadada

  .topo__tel-whats
    display flex
    flex-flow column nowrap
    align-items flex-end
    @media(max-width screen-md)
      display none

    .contact
      display flex
      align-items center
      font-size 14px
      line-height 1.2em
      color #333
      margin-bottom 3px

      svg.phone-icon, svg.whats-icon
        margin-right 7px

      a
        font-weight semibold
        margin-left 7px

    > span
      font-size 12px
      line-height 1.2em
      color #999999

      strong
        color unquote($color2_bg)

  .mycart
    margin-left 0

    &:hover
      .mycart__header
        a
          background none!important
          box-shadow none
    .mycart__header
      a
        background none!important
        box-shadow none

        svg.cart-icon
          width 35px
          height 35px
          @media(max-width screen-md)
            width 30px
            height 30px

        .qtd
          width 20px
          height 20px
          right -6px
          line-height 1.4em
          border 2px solid #fafafa
          background unquote($color2_bg)
          @media(max-width screen-md)
            top -5px
            right -10px
            line-height 1.5em

  .categories--mobi
    @media(max-width screen-md)
      .btn--close
        position fixed
        width 100%
        border none
        border-radius 0
        box-shadow 0 0 8px #4c4c4c

        span
          display block
          font-size 11px
          line-height 1.5em
          font-weight medium
          text-transform uppercase
          color #fff

      .ul--0
        min-height 90vh
        flex-flow column nowrap
        padding-bottom 35px
        margin-top 60px

        .categories__all
          .a--0
            display block!important
            width auto!important
            margin 20px auto 0

        .li--0
          display flex!important
          width 100%

          &.removed
            position static!important
            top auto!important
            left auto!important
          
          .a--0
            max-width 100%!important
            width 100vw
          
          .box--1
            display none

  .categories
    background #f9f9f9

    .ul--0
      @extend .container

      .li--0:not(.categories__all)
        position static

        &:hover
          .a--0
            background unquote($color2_bg)

            svg
              fill unquote($color2_font)

            span 
              color unquote($color2_font)

        .a--0
          max-width fit-content
          height 100%
          display flex
          flex-flow column nowrap
          justify-content center
          align-items center
          font-size 14px
          line-height 1.2em
          color #666666
          margin 0 auto
          padding 10px 15px

          svg
            max-width 55px
            width 100%
            max-height 56px
            height 100%
            margin 0 auto
            padding-bottom 5px
            fill rgb(142, 142, 142)

          span 
            flex 0 0 auto

        .box--1
          width 100%
          position absolute
          left 0
          padding 0
          box-shadow none
          @extend .container

          a:hover
            box-shadow none

          .ul--1
            padding 15px

            .li--1
              .a--1
                font-size 18px
                line-height 1.2em
                font-weight semibold
                margin-bottom 25px
                padding 0

              .ul--2
                display grid
                grid-template-columns 50% 50%

                .li--2
                  .a--2
                    font-size 15px
                    line-height 1.2em
                    padding 0
                    margin-bottom 15px

          .categories__block
            padding 0
            margin 0
            border none
            text-align right

      .blog.removed
        position relative !important
        top unset !important
        left unset !important

      .li--0.categories__all
        span
          font-size 14px
          line-height 1.2em
          font-weight medium

          a
            color unquote($color2_font)
            background unquote($color2_bg)
            padding 10px 13px
            border-radius 6px
        &:hover
          .a--0
            background none

        .box--1
          display none

  .categories__show.btn
    @media(max-width screen-md)
      background none
      margin-left 10px

      &:before
        content "\f0c9"
        font-size 30px
        width 28px
        color unquote($color1_bg)
      
      span
        display block!important
        font-size 11px
        line-height 1.2em
        font-weight medium
        text-transform uppercase
        color #6f6f6f
        padding-right 3px
    
    @media(max-width screen-xs)
      &:before
        content "\f0c9"
        font-size 24px

      span
        font-size 10px
        line-height 1em
        padding-right 2px
        
      

/** Banner */

#banner__bannerhomefull
  margin-top 75px!important
  @media(max-width screen-md)
    margin-top 0!important

  @media(max-width screen-xs)
    margin-top 35px!important

  a.banner__link
    height 60vh!important
    @media(max-width screen-lg)
      height 400px!important
    
    @media(max-width screen-md)
      height auto !important

    img.d_img
      width 100vw

/** Main Container */

.main-container
  #banner__home_banner_mosaico
    margin-bottom 35px

    .banner__wrapper
      display grid
      flex-flow row nowrap
      align-items center
      justify-content space-between
      grid-template-columns 24% 24% 49%
      column-gap 15px
      @media(max-width screen-xs)
        grid-template-columns repeat(2, 1fr)
        grid-template-rows repeat(2, 1fr)
        justify-content center
        grid-gap 15px

        .banner__item.last 
          grid-column 1 / -1
          grid-row 2

      a.banner__link
        img.d_img
          width 100%
          height 285px

  .textblock-compre-marca
    p.title
      font-size 16px
      line-height 1.3em
      text-align center
      color unquote($color3_bg)

  .brands--carrossel:not(:last-child), .products.carrossel:not(:last-child)
    position relative

    &:after
      content ""
      display block
      right 0
      width 100%
      height 1px
      background #f3f3f3
      box-shadow -980px 0 0 #f3f3f3, 980px 0 0 #f3f3f3
      margin 25px 0
      @media(max-width screen-xs)
        margin 40px 0

  .brands--carrossel
    .owl-wrapper-outer
      border none!important

      .owl-wrapper
        .brands__item
          a
            height 100px
            padding 0
            border none
            background transparent

            img
              max-width 140px
              width auto
              max-height 40px!important
              opacity .3
              transition all .3s ease-in-out
            
            &:hover
              img
                opacity .55

          &.li--0riester
            img
              max-width 185px !important

          &.li--0toth
            img
              max-width 160px !important

    .owl-controls
      .owl-buttons
        @media(max-width screen-xs)
          display block!important

        .owl-prev, .owl-next
          background none
          color #d3001f
          box-shadow none

        .owl-prev
          left -55px
          @media(max-width screen-xs)
            left 0

        .owl-next
          right -55px
          @media(max-width screen-xs)
            right 0

          &:before
            background none

  .products.carrossel
    .products__title
      font-size 20px
      line-height 1.3em
      text-align center
      color unquote($color3_bg)
      margin-bottom 35px
    
    ul.products__list
      .owl-wrapper-outer
        .owl-wrapper
          .owl-item
            .products__case
              box-shadow none
              cursor pointer
              @media(max-width screen-xs)
                flex-flow column nowrap

                .product__image
                  img
                    max-width 50%

              .product__main
                position relative

                .configurable-swatch-list
                  justify-content center

                  li
                    padding 0 1px

                    &.selected
                      a.swatch-link
                        background none

                        span
                          position relative
                          display flex
                          justify-content center
                          align-items center
                          width 25px
                          height 25px
                          z-index 4

                          &:before
                            content ""
                            display block
                            position absolute
                            top 0
                            left 0
                            width 100%
                            height 25px
                            background transparent
                            border-radius 50px
                            border 1px solid #5b5b5b

                          img
                            z-index 3

                    a.swatch-link
                      box-shadow none

                      &:hover
                        background none

                      img
                        border-radius 50px
                        width 20px
                        height 20px

                .product__name
                  font-size 14px
                  line-height 1.2em
                  font-weight medium
                  text-align center
                  color #8c8c8c
                  margin-bottom 10px

                .price-box
                  text-align center
                  margin-bottom 10px

                  .old-price
                    font-size 13.5px
                    line-height 1em
                    font-weight 500
                    text-align center
                    margin-bottom 5px
                    color #bfbfbf

                  .special-price, .regular-price, .minimal-price
                    text-align center
                    color unquote($color3_bg)

                    .label
                      font-size 16px
                      line-height 1em
                      font-weight semibold
                      color unquote($color3_bg)
                    
                    .price
                      font-size 20px
                      line-height 1em
                      font-weight semibold

                .price-box-avista
                  width 85%
                  background #1fc391
                  text-align center
                  padding 10px
                  border-radius 5px
                  margin 0 auto 5px
                  @media(max-width screen-xs)
                    width fit-content
                    display flex!important
                    flex-flow column nowrap
                    align-items center
                    padding 10px 15px 

                  .label
                    width 100%
                    font-size 11px
                    line-height 1.1em
                    font-weight semibold
                    color #ffffff
                    margin 0 0 5px
                  
                  .price
                    font-size 24px
                    line-height 1.1em
                    font-weight semibold
                    color #ffffff

                .price-box-parcelado
                  .preco-parcelado-sem-juros
                    font-size 13px
                    line-height 1.2em
                    text-align center

                    span 
                      color #a7a7a7
                      font-weight normal

                  .preco-parcelado
                    display none

              .button.add-to-cart
                display none

                @media(max-width screen-md)
                  display block!important

                @media(max-width screen-xs)
                  width 80%
                  margin 0 auto
                  background #60d427
                  color #fff
                  box-shadow none

              .button.btn-sob-consulta
                pointer-events none
                display block!important
                background #b2cfd9
                box-shadow none
                border-radius 5px
                padding 12px 40px
                margin 0 auto

                span
                  display flex
                  justify-content space-evenly
                  align-items end
                  text-align left
                  font-size 13.5px
                  line-height 1em
                  font-weight medium
                  color #fff

                  svg
                    width 30px
                    height 25px
                    margin-right 5px

              &:hover
                border 1px solid #ededed
                border-radius 4px
                @media(max-width screen-xs)
                  border none
                  border-radius 0

                .button.add-to-cart
                  display block!important
                  font-size 16px
                  line-height 1em
                  font-weight medium
                  padding 15px
                  color #ffffff
                  box-shadow none
                  border-radius 5px
                  background #60d427

      .owl-controls 
        .owl-pagination
          display none
        
        .owl-buttons
          .owl-prev, .owl-next
            background none
            color unquote($color3_bg)
            box-shadow none

          .owl-prev
            left -55px

          .owl-next
            right -55px

            &:before
              background none

body:not(.cms-home)
  .main-container
    padding-top 100px

  .page-title, .category-title
    .category-thumb
      display none

/** FOOTER */
.footer-container
  background none

  .footer
    @media(max-width screen-lg)
      padding 0

    .newsletter
      background unquote($color3_bg)
      box-shadow -980px 0 0 unquote($color3_bg), 980px 0 0 unquote($color3_bg)
      margin 0!important
      border none
      padding 40px 0
      @media(max-width screen-lg)
        padding 40px 10px

      .newsletter__form
        margin 0
        @media(max-width screen-sm)
          display flex
          flex-flow column nowrap
        
        .newsletter__text
          display flex
          flex-flow row nowrap
          align-items center
          flex 1 1 auto
          margin 0
          @media(max-width screen-sm)
            margin-bottom 20px

          @media(max-width screen-md) and (min-width screen-sm)
            flex 1 1 30%

          .news-icon
            width 60px
            height 60px
            margin-right 30px
            @media(max-width screen-md) and (min-width screen-sm)
              margin-right 15px

          .title
            font-size 18px
            line-height 1.2em
            font-weight medium
            color unquote($color2_font)
            text-align left
            @media(max-width screen-md) and (min-width screen-sm)
              font-size 14px

        .input-box
          padding 0

          input.input-text
            height 55px
            box-shadow none
            border-radius 0
            border none

            &::placeholder
              font-size 14px
              line-height 1.2em
              font-weight medium
              letter-spacing .5px
              color #b5b5b5

        .newsletter__name
          margin-right 15px
          @media(max-width screen-sm)
            margin 0
            width 90%
            margin-bottom 15px

          @media(max-width screen-md) and (min-width screen-sm)
            flex 1 1 28%
            min-width unset!important

        .newsletter__email
          flex 1 1 20%
          @media(max-width screen-sm)
            width 90%
            margin-bottom 35px

          @media(max-width screen-md) and (min-width screen-sm)
            flex 1 1 25%
            min-width unset!important

        .newsletter__submit
          padding 0
          @media(max-width screen-sm)
            width 80%

          .btn
            width auto
            height 55px
            font-size 14px
            line-height 1em
            font-weight semibold
            color unquote($color3_bg )
            background #FFF
            box-shadow none
            border-radius 0
            @media(max-width screen-sm)
              background transparent
              border 2px solid #FFF
              color #FFF
              padding 10px 45px
              width 100%

    .footer-sobre
      max-height 540px
      display flex
      justify-content center
      align-items center
      background #f6f6f6
      box-shadow -980px 0 0 #f6f6f6, 980px 0 0 #f6f6f6
      margin 0!important
      @media(max-width screen-sm)
        flex-flow column nowrap
        max-height unset!important

      img
        max-height 540px
        flex 1 1 auto
      
      .sobre-text
        flex 1 1 65%
        padding-left 20px
        @media(max-width screen-sm)
          padding 0 25px 25px
          margin-top 30px

        .title
          display block
          font-size 30px
          line-height 1.2em
          font-weight semibold
          color unquote($color3_bg)
          margin-bottom 25px

        .textblock
          font-size 15px
          line-height 1.5em
          letter-spacing .3px
          font-weight medium
          color #8c8c8c

    .main-footer
      background #ffffff
      box-shadow -980px 0 0 #ffffff, 980px 0 0 #ffffff
      margin 55px 0
      @media(max-width screen-sm)
        padding 0 30px

      @media(max-width screen-md)
        .menus
          margin-bottom 25px

        .selos
          .footer__payments
            grid-column-start 1
            grid-column-end 3
            text-align center

          .footer__shipments
            display flex
            justify-content center
            grid-column-start 1
            grid-column-end 3
          
          .footer__social
            grid-column-start 1
            grid-column-end 3
            text-align center

          .footer__certificates
            display flex
            justify-content center
            grid-column-start 1
            grid-column-end 3

            .flex
              display block!important

      @media(max-width screen-xs)
        .menus
          grid-template-columns 1fr!important
          text-align center

          .footer__menus
            .categories
              .a--0
                text-align center

      .flex
        @media(max-width screen-sm)
          display grid
          grid-template-columns repeat(2, 1fr)
          row-gap 25px

        .title
          font-size 16px
          line-height 1.2em
          font-weight semibold
          color unquote($color3_bg)
          opacity 1

        .footer__contact
          .tele
            font-size 16px
            line-height 1.2em
            font-weight medium
            color #606060

          .horario
            .textblock-horario-atendimento
              font-size 12px
              line-height 1.2em
              font-weight medium
              color #606060
              margin 7px 0

          .email
            font-size 16px
            line-height 1.2em
            font-weight medium
            color #606060
            padding 5px 0 10px

          .endereco
            font-size 13px
            line-height 1.3em
            font-weight medium
            color #606060

        nav.categories, nav.mymenu
          background none
          margin-bottom 15px

          ul
            li
              border none

              .a--0
                height auto
                font-size 14px
                line-height 1.2em
                font-weight medium
                color #8c8c8c
                padding 0 0 10px

                svg 
                  display none

              &:hover
                .a--0
                  background none

        .footer__certificates
          .title
            display none

          ul
            li
              &.anvisa
                img.certs__img
                  width 85px

        .footer__social
          svg.ft-icon
            width 35px
            height 35px

    .footer__copyright
      position absolute
      width 100%
      bottom -55px
      left 0
      background #f6f6f6
      box-shadow -980px 0 0 #f6f6f6, 980px 0 0 #f6f6f6

      .textblock
        font-size 13px
        line-height 1.2em
        font-weight medium
        color #5d5d5d
        text-align center
        padding 10px 0 0

body a[title^=Biz] 
  width 100%
  background #f6f6f6
  box-shadow 0 -10px 0 #f6f6f6, 0 10px 0 #f6f6f6